<div class='genre-show'>

    <h1><%= @genre.name.titleize %></h1>
    <p class= "likes-text"><%= @genre.artists.count %> artists belong to this genre</p>


    <h2 class= "nav-links">Here are 10 of them you might enjoy:</h2>


   <div class="genre-artists">
      <% i=0 %>
      <% @random_artists.each_with_index do |artist, i| %>
        <% if i<10 %>
          <div class="genre-artist">
              <%= link_to artist, artist_path(@index[i]) %>
              <div class='img-box'>

              </div>
          </div>
          <% i+=1 %>
        <% end %>
      <% end %>
    </div>

</div>
