<h1><%= @genre.name %></h1><br>


# Display the 5 first artists of the Genre

<h2>famous artists:</h2>




<% @random_artists.each_with_index do |artist, i| %>
   <%= link_to image_tag("#{@cover[i]}"), artist_path %>
  <h3><%= link_to artist, artist_path(@index[i]) %></h3>
  

<% end %>
