<div class="new-comment">

  <h2>Edit your comment </h2>

  <%= form_for @comment, :url => artist_comment_path do |f|%>
      <%= f.text_area :content, size: "20x3", class: "form-control"%>

      <button type="submit" class="submit">Edit comment</button>
  <%end%>
</div>
