<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="header" class='my-header'>
	<ul>
		<div>
			 <li><%= link_to image_tag('logo-row.png'), root_path, class:'logo-header', onclick: "window.location.href='/'"%></li>
		 </div>

		 <div class='navbar-links'>
				<% if user_signed_in? %>

					 <li class="login-links logo" style="float:right;"><span class= "search">Search</span><%= link_to image_tag('search.png'), root_path, onclick: "window.location.href='/'" %></li>
					  <li class="login-links logo" style="float:right;"><span class="discover">Discover</span><%= link_to image_tag('compass.png'), discover_path %></li>
					 <li class="login-links logo" style="float:right;"><%= link_to image_tag('usernav.png'), edit_user_registration_path %></li>

	      <% else %>
	        <li class="nav-item">
	          <a data-toggle="modal" data-target="#signUpModal"><button>SIGN UP</button></a>
	        </li>
	        <li class="nav-item">
	          <a data-toggle="modal" data-target="#logInModal"><button>LOG IN</button></a>
	        </li>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
	      <% end %>
			</div>
    </ul>
</div>
