<div class= "home">
  <div class= 'home-left'>
    <h1>Sign up to discover new artists you're sure to love </h1>
    <hr>
    <p>Here at melomaniacs, we believe in the power of <strong>community</strong> to discover new things you’ll end up loving. We provide you with an <strong>extensive artists database</strong> and the opportunity to <strong>express your opinion</strong>. Our <strong>smart research and recommendation features</strong> allow you to find new things you’re sure to love.</p>
    <div class= "home-buttons">
      <button class='home-button-primary' data-toggle="modal" data-target="#signUpModal">Sign up</button><button class='home-button-secondary' data-toggle="modal" data-target="#logInModal">Log in</button>
    </div>

  </div>

  <div class= 'home-right'>
    <%= image_tag("BasKey-background.png")%>
  </div>
</div>
