<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/"/instantsearch.min.css">
</head>

<body>
  <header>
    <div id="input-container">
      <input id="search-input" placeholder="Search for genres">
    </div>
  </header>
  <main>
    <div id="hits"></div>
    <div id="pagination"></div>
  </main>
</body>

<script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

</html>
