#header {
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  height: 8%;
  display: flex;
  align-items: center;
}

.my-header .icon {
    display: none;
}

.logo-header{
  float: left;
  padding: 0 0 0 1em;
    img {
    height: 55px;
    width: auto;
  }
}

#header img{
  height: 1.3em;
  margin-bottom: 0.2em;
}

#header li{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

#header img:hover{
  cursor: pointer;
  overflow: hidden;
}


#header ul{
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-links{
  display: flex;
  flex-direction: row;
}

#header li a button:hover{
  color: #404040;
  font-weight: normal;
  cursor: pointer;
}

#header li a button {
  color: #707070;
  font-weight: 300;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 0.8em;
  height: 2em;
  margin-bottom: 0.2em;
  margin-right: 2em;
}

#header li a button:focus{
  outline: none;
}


#header .login-links a:hover{
  color: #404040;
  font-weight: normal;
  font-size: 0.75em;
  cursor: pointer;
  text-decoration: none;
}



#header .login-links a {
  color: #707070;
  font-weight: normal;
  font-size: 0.75em;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-style: none;
  vertical-align: middle;
  height: 100%;
  margin-right: 0.7em;
}

.login-links {
  z-index: auto;
}

.icon-link img {
  margin-right: 3em ;
  opacity: 0.6;
}

.icon-link img:hover {
  opacity: 0.8;
}

#header li a:focus{
  outline: none;
}

.fa{
  display: none;
}

@media screen and (max-width: 600px) {

  .search, .discover {
    display: none;
  }
}

@media screen and (min-heigth: 600px) {

  .search, .discover {
    display: none;
  }
}

.search, .discover {
  font-size: 2em;
}
