#header {
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}

#header img{
  height: 3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: -2em;
}

#header img:hover{
  opacity: 0.8;
  cursor: pointer;
}

#header ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links{
  display: flex;
}

#header li{
  margin-right: 5em;
  color: #707070;
  font-weight: normal;
  font-size: 0.75em;
  cursor: pointer;
}

#header li:hover{
  margin-right: 5em;
  color: #404040;
  font-weight: normal;
  font-size: 0.75em;
  cursor: pointer;
}
