/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*/
@import "bootstrap";
@import "components/*";

/* BACKGROUND */
html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #7439C7, #7C3CB2, #9B42A0, #CB4C7A, #E15280);
}

body{
   position: absolute;
   margin: 1.5em;

   width: 96%;
   height: 92%;
   background:rgba(255,255,255,0.98);
   box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.16);
}

.input-group:hover {
	box-shadow: 1px 1px 4px #cecece;
	transition: 0.2s;
}